@media screen and (max-width: 767px) {
   .calculation {
      .calculation-title {
         margin-bottom: 82px;
      }

      .calculation-form {
         padding: 50px 15px 22px;
         max-width: 335px;
      }

      .calculation-row {
         flex-wrap: wrap;

         .calculation-column__margin {
            margin-bottom: -8px;
         }

         .has-checkbox {
            padding-top: 3px;
         }

         .file-name {
            p {
               margin-top: 0px;
               margin-bottom: 12px;
            }
         }
      }

      .calculation-btn {
         width: 100%;

         .icon {
            margin-left: auto;
         }
      }
   }

   .delivery {
      .delivery-slider {
         max-width: 365px;
      }

      .slick-dots {
         bottom: -40px;
      }
   }

   body {
      .slide-card {
         max-width: 335px;

         .card-title {
            margin-bottom: 10px;
         }
      }
   }

   .delivery-card {
      padding: 0 23px 26px;

      .img-box {
         img {
            width: calc(100% + 46px);
            margin: 0 -23px 27px;
         }
      }

      .card-options {
         margin-bottom: 6px;
      }

      .card-price {
         margin-bottom: 19px;
      }

      .card-btn-row {
         .card-btn {
            padding: 13px 10px;
         }

         .transparent-btn {
            padding: 13px 26px;
         }
      }
   }
}