@media (min-width: 992px) {
   .first-screen-slider {
      .slick-slider {
         padding: 0 92px;
      }
   }

   .slide-card {
      margin: 0 15px;
   }

   .about {
      .tamplate-title {
         text-align: left;

         &::after {
            background: $color-secondary;
            left: 45px;
         }
      }

      .img-box {
         margin-top: -165px;
      }
   }
}