@media screen and (max-width: 991px) {
   header {
      .navbar {
         padding-top: 18px;
         padding-bottom: 0;

         .container {
            padding-left: 20px;
            padding-right: 20px;

            .navbar-brand {
               max-width: 126px;
               padding-left: 0px;
               margin-bottom: 18px;

               svg {
                  width: 100%;
                  height: auto;
               }
            }

            .navbar-toggler:focus {
               box-shadow: none;
            }

            .navbar-toggler-icon {
               background-image: none;
            }

            .navbar-collapse {
               text-align: center;
               background: #363A4D;
               margin: 0 -20px;

               .navbar-nav {

                  padding-left: 0;
                  max-width: none;
                  width: 100%;
                  padding-top: 37px;
                  padding-bottom: 22px;

                  .nav-link {
                     padding: 0;
                     margin-bottom: 11px;
                     margin-top: 0;
                     font-size: 24px;
                     line-height: 222%;
                  }
               }

               .nav-btn {
                  padding: 22px 85px;
                  margin: 0;
                  font-size: 16px;
                  margin-bottom: 60px;
               }
            }

         }
      }
   }

   .first-screen-slider {
      .slick-slider {
         height: calc(100vh - 72px);

         .container {
            .first-screen-title {
               margin-bottom: 10px;
               font-size: 32px;
               max-width: 295px;
            }

            .first-screen-subtitle {
               margin-bottom: 18px;
               font-size: 16px;
               max-width: 275px;
            }
         }
      }
   }

   .calculation {
      margin-bottom: 60px;

      .tamplate-title {
         margin-bottom: 56px;

         .calculation-title {
            font-size: 24px;
            max-width: 390px;
         }
      }

      .calculation-form {
         margin: 0 auto;

      }

      .calculation-decoration {
         display: none;
      }
   }

   .advantages {
      padding: 55px 0 68px;

      &::before {
         left: 0;
         right: 0;
         border-radius: 0px;
      }

      .tamplate-title {
         margin-bottom: 44px;
         padding-bottom: 16px;

         h2 {
            font-size: 24px;
         }
      }

      .slick-dots {
         bottom: -8px;
      }
   }
}