@media screen and (max-width: 991px) {

   section .container {
      padding-left: 20px;
      padding-right: 20px;
   }

   header {
      .navbar {
         padding-top: 18px;
         padding-bottom: 0;

         .container {
            padding-left: 20px;
            padding-right: 20px;

            .navbar-brand {
               max-width: 126px;
               padding-left: 0px;
               margin-bottom: 18px;

               svg {
                  max-width: 100%;
                  height: auto;
               }
            }

            .navbar-toggler:focus {
               box-shadow: none;
            }

            .navbar-toggler-icon {
               background-image: none;
            }

            .navbar-collapse {
               text-align: center;
               background: #363A4D;
               margin: 0 -20px;

               .navbar-nav {

                  padding-left: 0;
                  max-width: none;
                  width: 100%;
                  padding-top: 37px;
                  padding-bottom: 22px;

                  .nav-link {
                     padding: 0;
                     margin-bottom: 11px;
                     margin-top: 0;
                     font-size: 24px;
                     line-height: 222%;
                  }
               }

               .nav-btn {
                  padding: 22px 85px;
                  margin: 0;
                  font-size: 16px;
                  margin-bottom: 60px;
               }
            }

         }
      }
   }

   body {
      section {
         &.container-fluid {
            padding: 55px 0px 60px;

            &::before {
               left: 0;
               right: 0;
               border-radius: 0px;
            }
         }

         .slide-card {
            margin: 0 auto;
         }

         .accordion-flush {

            .accordion-item:first-child,
            .accordion-item:last-child,
            .accordion-item {
               margin: 0 auto 14px;

               .accordion-button {
                  min-height: 64px;
                  font-size: 16px;
                  padding: 11px 22px;
               }

               .accordion-body {
                  padding: 0 22px 11px;
                  line-height: 20.23px;

                  p {
                     font-size: 14px;
                  }
               }
            }

         }

         &:last-of-type {
            margin-bottom: 54px;
         }
      }
   }

   .first-screen-slider {
      .slick-slider {
         height: calc(100vh - 72px);

         .container {
            .first-screen-title {
               margin-bottom: 10px;
               font-size: 32px;
               max-width: 295px;
            }

            .first-screen-subtitle {
               margin-bottom: 18px;
               font-size: 16px;
               max-width: 275px;
            }
         }
      }
   }

   section {
      .template-title {
         padding-bottom: 16px;

         h2 {
            font-size: 24px;
         }

         h4 {
            font-size: 16px;
         }
      }
   }

   .calculation {
      margin-bottom: 60px;

      .template-title {
         margin-bottom: 55px;
         padding-bottom: 25px;

         h2 {
            max-width: 390px;
         }
      }

      .calculation-form {
         margin: 0 auto;

      }

      .calculation-decoration {
         display: none;
      }
   }

   .advantages {
      padding: 55px 0 68px;
      margin-bottom: 54px;

      .template-title {
         margin-bottom: 46px;
         padding-bottom: 18px;
      }

      .advantage {
         margin-bottom: 54px;
      }
   }

   .delivery {
      .template-title {
         margin-bottom: 32px;
      }
   }


   .template-slider {
      max-width: 390px;
   }

   .service {
      padding: 54px 0 100px;
      margin-bottom: 54px;

      .slick-track {
         margin-bottom: 41px;
      }

      .template-title {
         margin-bottom: 36px;
      }
   }

   .service-card {
      .service-description {
         margin-bottom: 5px;
         font-size: 14px;
      }
   }

   .about {
      margin-bottom: 45px;

      .template-title {
         margin-bottom: 26px;

         &::after {
            background-color: $color-secondary;
         }
      }

      .img-box {
         display: flex;
         justify-content: center;

         img {
            width: 74vw;
            max-width: 350px;
         }
      }
   }

   .about-description {
      margin-bottom: 18px;

      p {
         text-align: justify;
         font-size: 16px;
         line-height: 149.5%;
         margin-bottom: 22px;

         span {
            font-size: 16px;
            line-height: 149.5%;
         }
      }
   }

   .questions {
      margin-bottom: 58px;

      .template-title {
         margin-bottom: 27px;
         padding-bottom: 19px;
      }

      .row {
         gap: 14px;
      }

      .questions-form {
         margin: 0 auto;
         padding: 38px 20px;
      }
   }

   .cooperation {
      text-align: justify;

      .row {
         margin-bottom: 42px;
      }

      .template-title {
         margin-bottom: 43px;
         padding-bottom: 19px;
      }

      .cooperation-list {
         margin: 0 auto;

         li {
            font-size: 16px;
            font-weight: 400;
            line-height: 149.5%;
            margin-bottom: 22px;
         }
      }

      .img-box {
         margin-bottom: 38px;

         img {
            width: 350px;
            max-height: 220px;
         }
      }

      .second-row {
         .cooperation-list {
            margin-bottom: 28px;

            li {
               margin-bottom: 24px;

               &::first-letter {
                  margin-left: -12px;
               }
            }
         }

         .img-box {
            margin-bottom: 29px;
         }
      }

      .cooperation-btn {
         display: flex;
         margin: 0 auto;
         max-width: 335px;

         img {
            margin-left: auto;
         }
      }
   }

   footer {
      padding-bottom: 44px;

      .row {
         justify-content: center;
      }

      .footer-contact {
         text-align: center;

         .logo-box {
            margin-bottom: 30px;
         }

         .nav-social {
            justify-content: center;
         }
      }

      .footer-links {
         display: none;
      }
   }
}