@media (min-width: 1200px) {
   .first-screen-slider {
      .slick-slider {
         border-radius: 20px;
      }

      .container {
         padding-top: 165px;
         padding-bottom: 228px;
      }
   }

   .calculation {
      .tamplate-title {
         text-align: left;

         h2 {
            &::after {
               content: "";
               display: inline-block;
               width: 85px;
               height: 2px;
               background-color: $color-secondary;
               margin: 10px 20px;
            }
         }
      }
   }
}