@media (min-width: 1200px) {
   .first-screen-slider {
      .slick-slider {
         border-radius: 20px;
      }

      .container {
         padding-top: 165px;
         padding-bottom: 228px;
      }
   }

   .calculation {
      .calculation-title {
         &::after {
            margin-left: 20px;
            margin-bottom: 10px;
         }
      }
   }
}