@media (min-width: 992px) {
   .accordion-flush {

      .accordion-item:first-child,
      .accordion-item:last-child,
      .accordion-item {
         .accordion-body {
            margin-top: -5px;
         }
      }
   }

   .first-screen-slider {
      .slick-slider {
         padding: 0 92px;
      }
   }

   .advantages {
      .col-lg-3:nth-last-child(-n + 4) {
         .advantage {
            margin-bottom: 0;
         }
      }
   }

   .slide-card {
      margin: 0 15px;
   }

   .about {
      .template-title {
         text-align: left;

         &::after {
            left: 45px;
         }
      }

      .img-box {
         margin-top: -165px;
      }
   }

   .questions {
      .row {
         justify-content: center;
      }

      .questions-col-accordion {
         max-width: 545px;
      }

      .questions-col-form {
         max-width: 414px;
      }
   }

   .about {
      .about-description {
         padding: 0 13px;
      }
   }

   .cooperation {

      .cooperation-list {
         &.second-list {
            margin-top: 25px;
            margin-left: 18px;
         }
      }

      .cooperation-btn {
         margin-left: 19px;
      }
   }
}