.about {
   margin-bottom: 52px;

   .template-title {
      margin-bottom: 44px;
   }

   .img-box {
      padding: 0 20px;


      img {
         max-width: 550px;
         max-height: 581px;
         width: 45vw;
      }
   }
}

.about-description {
   p {
      font-size: 18px;
      font-weight: 300;
      line-height: 170%;
      margin-bottom: 24px;

      span {
         font-weight: 400;
      }
   }
}