.advantages {
   margin-bottom: 111px;
   position: relative;

   .template-title {
      margin-bottom: 50px;
   }
}

.advantage {
   text-align: center;
   margin-bottom: 46px;

   .image-box {
      width: 113px;
      height: 113px;
      border: 1px solid #6C7188;
      border-radius: 50%;
      padding: 10px;
      margin: 0 auto 22px;

      img {
         border-radius: 50%;
         background-color: #89C249;
         width: 100%;
         height: auto;
         object-fit: scale-down;
      }
   }

   .advantages-description {
      font-size: 18px;
      line-height: 124.5%;
      max-width: 165px;
      margin: 0 auto;
   }
}