.calculation {
   margin-bottom: 113px;

   .template-title {
      margin-bottom: 39px;
   }

   .calculation-form {
      padding: 50px 35px;
      width: 100%;
      max-width: 626px;
      border-radius: 20px;

      .calculation-btn {
         padding: 20px 36px 20px 33px;
         margin: 0 15px 11px;
      }
   }

   .calculation-row {
      display: flex;
   }

   .input-column {
      .has-checkbox {
         padding-top: 19px;
         margin-bottom: 8px;
      }

      .file-name {
         p {
            padding: 0 15px;
            font-size: 15px;
            line-height: 126%;
            margin-top: 6px;
            margin-bottom: 14px;
         }
      }
   }


   .calculation-decoration {
      position: absolute;
      bottom: -113px;
      right: 0;

      img {
         max-width: 560px;
         max-height: 888px;
         width: 100%;
         height: auto;
      }
   }
}