.first-screen {
    margin-bottom: 97px;
}

.first-screen-slider {
    .slick-slider {

        background-size: cover;
        background-repeat: no-repeat;

        .first-screen-title {
            max-width: 463px;
            font-size: 56px;
            font-weight: 700;
            line-height: 126%;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .first-screen-mb {
            margin-bottom: 99px;
        }

        .first-screen-subtitle {
            max-width: 345px;
            font-size: 20px;
            font-weight: 300;
            line-height: 135.5%;
            margin-bottom: 37px;
        }

        .first-screen-btn {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 19px 33px;
            font-size: 16px;
            width: 100%;
            max-width: 293px;
        }
    }

    .slick-dots {
        bottom: 43px;
    }
}




.first-screen-nav {
    max-width: 1570px;

    .slick-arrow {
        background-image: url(assets/img/icon-first-screen-arrow.svg);
    }

    .slick-prev:hover {
        background-image: url(assets/img/icon-slick-arrow-hover.svg);
    }

    .slick-next:hover {
        background-image: url(assets/img/icon-slick-arrow-hover.svg);
    }
}