* {
   box-sizing: border-box;
}

body {
   color: $text-color;
   background-color: $bg-primary;
   font-family: $font-primary;
}

.container {
   max-width: 1170px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}

.container-xxl {
   max-width: 1850px;
   position: relative;
}

section {
   &:last-of-type {
      margin-bottom: 56px;
   }

   &:nth-child(even) {
      .template-title::after {
         background-color: #E58D35;
      }
   }

   &.container-fluid {
      padding: 90px 85px 100px;

      &::before {
         content: "";
         position: absolute;
         left: 42px;
         right: 42px;
         top: 0;
         height: 100%;
         border-radius: 20px;
         background: #363A4D;
         z-index: -1;
      }
   }
}


.template-title {
   position: relative;
   text-align: center;
   padding-bottom: 13px;

   h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 124.5%;
      text-transform: uppercase;
   }

   h4 {
      font-size: 24px;
      line-height: 124.5%;
   }

   &::after {
      content: "";
      display: inline-block;
      width: 85px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: calc(100% - 2px);
      transform: translate(-50%, 0);
      background-color: #89C249;
   }
}

.btn-primary {
   background-color: $color-primary;
   border-color: $color-primary;

   &:hover {
      background-color: $color-secondary;
      border-color: $color-secondary ;
   }
}

.transparent-btn {
   padding: 13px 33px;
   background-color: transparent;
   border-radius: 90px;
   border: 1px solid $color-primary;
   font-size: 15px;

   &:hover {
      color: $color-secondary;
      border-color: $color-secondary ;
   }
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
   background-color: $color-secondary;
   border-color: $color-secondary;
}

.btn {
   display: inline-flex;
   align-items: center;
   border-radius: 90px;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   line-height: 146%;
   cursor: pointer;


   &:focus-visible {
      background-color: $color-secondary ;
      border-color: $color-secondary ;
      box-shadow: none;
   }

   &:hover .icon,
   &:focus-visible .icon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(180%) contrast(101%);
   }

   .icon {
      width: 27px;
      height: 27px;
      margin: 0 -14px 0 47px;
   }
}


.slick-dots {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 0);

   li {
      list-style-type: none;
      height: 8px;
      margin: 0 13px;
      font-size: 0;

      &.slick-active {
         background-color: #fff;
         border-radius: 50%;
      }
   }

   button {
      border-radius: 50%;
      height: 8px;
      width: 8px;
      padding: 0px;
      border: 2px solid #fff;
      background: transparent;
      outline: none;
   }
}

.arrow-position {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.slick-arrow {
   width: 92px;
   height: 92px;
   font-size: 0;
   border: none;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: center;
}

.slick-prev {
   transform: rotate(180deg);

   &:hover {
      transform: rotate(0deg);
   }
}

.slick-next:hover {
   transform: rotate(180deg);
}

.slick-next {
   background-image: url(assets/img/icon-slick-arrow-right.svg);
}

.slick-prev {
   background-image: url(assets/img/icon-slick-arrow-left.svg);
}

.slick-prev:hover {
   background-image: url(assets/img/icon-slick-arrow-hover.svg);
}

.slick-next:hover {
   background-image: url(assets/img/icon-slick-arrow-hover.svg);
}

.template-slider {
   .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 5;
      transform: translate(0, -50%);
   }

   .slick-prev {
      left: -115px;

      &:hover {
         transform: translate(0, -50%) rotate(0deg);
      }
   }

   .slick-next {
      right: -115px;

      &:hover {
         transform: translate(0, -50%) rotate(180deg);
      }
   }

}

form {
   background-color: #363A4D;
}

label {
   cursor: pointer;
}

input {
   border: none;
   transition: .3s;
}

input:focus-visible {
   outline: none;
}

textarea {
   transition: .3s;
   border: none;
   resize: none;
}

textarea:focus-visible {
   outline: none;
}

input:hover,
textarea:hover {
   box-shadow: 0 0 4px 2px orange;
}

input:focus-visible,
input:focus,
textarea:focus,
textarea:focus-visible {
   box-shadow: 0 0 4px 2px $color-secondary;
}

[type="checkbox"],
[type="radio"] {
   display: none;
}

[type="checkbox"]+label,
[type="radio"]+label {
   display: flex;
   align-items: center;
}

[type="checkbox"]+label::before {
   content: "";
   width: 24px;
   height: 24px;
   display: block;
   margin-right: 9px;
   background-color: #fff;
   border-radius: 4px;
   border: 1px solid #282B38;
}

[type="radio"]+label::before {
   content: "";
   width: 24px;
   height: 24px;
   display: block;
   margin-right: 9px;
   background-color: #fff;
   border-radius: 50%;
}

[type="checkbox"]:checked+label::before {
   background-image: url(assets/img/checkbox-checked.svg);
   background-repeat: no-repeat;
   background-position: center;
}

[type="radio"]:checked+label::before {
   background-image: url(assets/img/radio-checked.svg);
   background-repeat: no-repeat;
   background-position: center;
}

label:hover::before {
   border: 1px solid orange;
}

.input-column {
   display: flex;
   flex-direction: column;
   width: 100%;

   .input-box {
      display: flex;
      flex-direction: column;
      margin: 0 15px 20px;

      label {
         font-size: 15px;
         font-weight: 600;
         line-height: 126%;
         margin-bottom: 6px;
      }

      input {
         padding: 19px 20px;
         font-size: 15px;
         line-height: 126%;
         border-radius: 10px;
         background: #FFF;

         &::placeholder {
            color: #CBCBCB;
         }
      }

      textarea {
         font-size: 15px;
         line-height: 126%;

         padding: 16px 20px;
         border-radius: 10px;

         &::placeholder {
            color: #CBCBCB;
         }
      }

      [for="fileInput"] {
         padding: 11px 20px;
         font-weight: 400;
         background-color: transparent;
         border-radius: 10px;
         border: 1px dashed rgba(255, 255, 255, 0.26);
         text-align: center;
         margin-bottom: 6px;
         cursor: pointer;
         transition: 0.3s;

         &:hover {
            border: 1px dashed $color-secondary;
            color: $color-secondary;
         }
      }

      [type="file"] {
         display: none;
      }
   }
}

.slide-card {
   max-width: 360px;
   width: 100%;
   border-radius: 20px;
   overflow: hidden;

   .card-title {
      font-size: 22px;
      font-weight: 700;
      line-height: 124.5%;
      margin-bottom: 11px;
   }
}

.accordion-flush {

   .accordion-item:first-child,
   .accordion-item:last-child,
   .accordion-item {
      margin-bottom: 17px;
      border: 1px solid #3A444E;
      border-radius: 10px;
      overflow: hidden;
      background-color: transparent;

      .accordion-button {
         padding: 17px 34px;
         padding-right: 18px;
         color: #fff;
         font-size: 18px;
         font-weight: 700;
         line-height: 124.5%;
         background-color: transparent;

         &:focus {
            border: none;
            outline: 0;
            box-shadow: none;
         }

         &::after {
            width: 27px;
            height: 27px;
            background-image: url(./assets/img/icon-accordion.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: .5s;
         }
      }

      .accordion-button:not(.collapsed) {
         color: #282B38;
         background-color: #fff;
         border: none;
         box-shadow: none;

         &::after {
            background-image: url(./assets/img/icon-accordion-show.svg);
            transform: rotate(360deg);
         }
      }

      .accordion-body {
         color: #282B38;
         background-color: #fff;
         font-size: 17px;
         font-weight: 300;
         line-height: 144.5%;
         padding: 0 34px 20px;

         p {
            max-width: 583px;
            margin-bottom: 0;
         }
      }
   }

   .accordion-item:last-child {
      margin-bottom: 0px;
   }
}