.navbar {
	padding-top: 25px;
	padding-bottom: 39px;

	.navbar-brand {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-right: 0px;
	}

	.navbar-collapse {
		justify-content: space-between;

		.navbar-nav {
			padding-left: 91px;
			max-width: 705px;
			width: 100%;
			justify-content: space-between;

			a {
				margin-top: 6px;
				padding-right: 7px;
				padding-left: 7px;
				line-height: 146%;
				color: $text-color;

				&:hover {
					color: $color-secondary;
				}
			}
		}
	}

	.nav-btn {
		padding: 14px 27px;
		text-align: center;
		font-size: 15px;
		color: $text-color;
		border: none;
	}


}