<section id="calculation" class="calculation">
   <div class="container">
      <div class="template-title col-lg-7">
         <h2>Получить рассчет стоимости доставки вашего груза</h2>
      </div>
      <form action="#" class="calculation-form">
         <div class="calculation-row">
            <div class="input-column">
               <div class="input-box">
                  <label for="category">Категория товара:</label>
                  <input type="text" id="category" placeholder="Категория товара">
               </div>
               <div class="input-box">
                  <label for="weight">Вес груза (кг):</label>
                  <input type="number" id="weight" placeholder="Введите вес">
               </div>
            </div>
            <div class="input-column">
               <div class="input-box">
                  <label for="price">Стоимость груза:</label>
                  <input type="text" id="price" placeholder="Введите стоимость">
               </div>
               <div class="input-box">
                  <label for="size">Объем груза (м3):</label>
                  <input type="number" id="size" placeholder="Введите объем">
               </div>
            </div>
         </div>
         <div class="calculation-row">
            <div class="input-column">
               <div class="input-box">
                  <input type="checkbox" id="insurance">
                  <label for="insurance">Страховка</label>
               </div>
               <div class="input-box">
                  <input type="checkbox" id="customs">
                  <label for="customs">Таможенное оформление</label>
               </div>
            </div>
            <div class="input-column">
               <div class="input-box">
                  <label for="code">Код ТН ВЭД:</label>
                  <input type="number" id="code" placeholder="Введите код">
               </div>
            </div>
         </div>
         <div class="calculation-row">
            <div class="input-column">
               <div class="file-name">
                  <p id="fileName">Ваше фото:</p>
               </div>
               <div class="input-box">
                  <label for="fileInput">Загрузить фото товара</label>
                  <input type="file" id="fileInput">
               </div>
            </div>
         </div>

         <div class="calculation-row">
            <a href="#delivery" class="calculation-btn btn btn-primary">
               Следующий шаг <img src="assets/img/icon-btn-arrow.svg" class="icon" alt="arrow">
            </a>
         </div>
      </form>
      <div class="calculation-decoration">
         <img src="assets/img/calculation-decoration.png" alt="decoration">
      </div>
   </div>
</section>