<section class="delivery">
   <div class="container">
      <div class="tamplate-title">
         <h2>Варианты доставки грузов из Китая</h2>
      </div>
      <div class="delivery-slider slider">
         <div>
            <div class="slide-card delivery-card">
               <div class="img-box">
                  <img src="assets/img/delivery-img-1.png" alt="delivery-bg">
               </div>
               <h4 class="card-title">Авто - обычная</h4>
               <div class="card-options">
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-calendar.svg" alt="delivery-icon">
                     <h5 class="option-description">9-15 дней</h5>
                  </div>
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-box.svg" alt="delivery-icon">
                     <h5 class="option-description">от 5 кг</h5>
                  </div>
               </div>
               <div class="card-price">
                  <span>от</span> <b>2,5</b><span>$/кг</span>
               </div>
               <div class="card-btn-row">
                  <a href="#" class="btn btn-primary card-btn">Оставить заявку</a>
                  <a href="#" class="btn transparent-btn">Подробнее</a>
               </div>
            </div>
         </div>
         <div>
            <div class="slide-card delivery-card">
               <div class="img-box">
                  <img src="assets/img/delivery-img-2.png" alt="delivery-bg">
               </div>
               <h4 class="card-title">Авто - ускоренная</h4>
               <div class="card-options">
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-calendar.svg" alt="delivery-icon">
                     <h5 class="option-description">6-12 дней</h5>
                  </div>
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-box.svg" alt="delivery-icon">
                     <h5 class="option-description">от 5 кг</h5>
                  </div>
               </div>
               <div class="card-price">
                  <span>от</span> <b>2,5</b><span>$/кг</span>
               </div>
               <div class="card-btn-row">
                  <a href="#" class="btn btn-primary card-btn">Оставить заявку</a>
                  <a href="#" class="btn transparent-btn">Подробнее</a>
               </div>
            </div>
         </div>
         <div>
            <div class="slide-card delivery-card">
               <div class="img-box">
                  <img src="assets/img/delivery-img-3.png" alt="delivery-bg">
               </div>
               <h4 class="card-title">Авиа</h4>
               <div class="card-options">
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-calendar.svg" alt="delivery-icon">
                     <h5 class="option-description">5-12 дней</h5>
                  </div>
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-box.svg" alt="delivery-icon">
                     <h5 class="option-description">от 50 кг</h5>
                  </div>
               </div>
               <div class="card-price">
                  <span>от</span> <b>2,5</b><span>$/кг</span>
               </div>
               <div class="card-btn-row">
                  <a href="#" class="btn btn-primary card-btn">Оставить заявку</a>
                  <a href="#" class="btn transparent-btn">Подробнее</a>
               </div>
            </div>
         </div>
         <div>
            <div class="slide-card delivery-card">
               <div class="img-box">
                  <img src="assets/img/delivery-img-4.png" alt="delivery-bg">
               </div>
               <h4 class="card-title">Ж/д</h4>
               <div class="card-options">
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-calendar.svg" alt="delivery-icon">
                     <h5 class="option-description">7-14 дней</h5>
                  </div>
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-box.svg" alt="delivery-icon">
                     <h5 class="option-description">от 20 кг</h5>
                  </div>
               </div>
               <div class="card-price">
                  <span>от</span> <b>2,5</b><span>$/кг</span>
               </div>
               <div class="card-btn-row">
                  <a href="#" class="btn btn-primary card-btn">Оставить заявку</a>
                  <a href="#" class="btn transparent-btn">Подробнее</a>
               </div>
            </div>
         </div>
         <div>
            <div class="slide-card delivery-card">
               <div class="img-box">
                  <img src="assets/img/delivery-img-5.png" alt="delivery-bg">
               </div>
               <h4 class="card-title">Море</h4>
               <div class="card-options">
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-calendar.svg" alt="delivery-icon">
                     <h5 class="option-description">7-14 дней</h5>
                  </div>
                  <div class="option-item">
                     <img src="assets/img/icon-delivery-box.svg" alt="delivery-icon">
                     <h5 class="option-description">от 30 кг</h5>
                  </div>
               </div>
               <div class="card-price">
                  <span>от</span> <b>2,5</b><span>$/кг</span>
               </div>
               <div class="card-btn-row">
                  <a href="#" class="btn btn-primary card-btn">Оставить заявку</a>
                  <a href="#" class="btn transparent-btn">Подробнее</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="arrow-nav delivery-nav arrow-position"></div>
</section>