<section class="service container-fluid section-bg">
   <div class="container">
      <div class="tamplate-title">
         <h2>Услуги</h2>
      </div>
      <div class="service-slider tamplate-slider">
         <div>
            <div class="slide-card service-card" style="background-image: url(./assets/img/service-img-1.png);">
               <h4 class="card-title">Выкуп товара</h4>
               <p class="service-description">Компания - это полный комплекс логистических услуг по доставке грузов из
                  Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
                  Китай-Украина.</p>
               <a class="btn transparent-btn">Подробнее</a>
            </div>
         </div>
         <div>
            <div class="slide-card service-card" style="background-image: url(./assets/img/service-img-2.png);">
               <h4 class="card-title">Страховка груза</h4>
               <p class="service-description">Компания - это полный комплекс логистических услуг по доставке грузов из
                  Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
                  Китай-Украина.</p>
               <a class="btn transparent-btn">Подробнее</a>
            </div>
         </div>
         <div>
            <div class="slide-card service-card" style="background-image: url(./assets/img/service-img-3.png);">
               <h4 class="card-title">Аренда склада</h4>
               <p class="service-description">Компания - это полный комплекс логистических услуг по доставке грузов из
                  Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
                  Китай-Украина.</p>
               <a class="btn transparent-btn">Подробнее</a>
            </div>
         </div>
         <div>
            <div class="slide-card service-card" style="background-image: url(./assets/img/service-img-4.png);">
               <h4 class="card-title">Перевод денежных средств</h4>
               <p class="service-description">Компания - это полный комплекс логистических услуг по доставке грузов из
                  Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
                  Китай-Украина.</p>
               <a class="btn transparent-btn">Подробнее</a>
            </div>
         </div>
      </div>
   </div>
</section>